@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Sixtyfour", sans-serif;
  word-spacing: -8px;
  color: white;
  background-color: black;
}

button {
  word-spacing: -8px;
}
