@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .clickable {
    @apply cursor-pointer active:bg-spy-gray;
  }
}

body {
  font-family: "Sixtyfour", sans-serif;
  /* font Sixtyfour has large spacing and will be using this font for everything except p tags */
  word-spacing: -8px;
  color: white;
  background-color: black;
}

p {
  font-family: monospace;
  word-spacing: normal;
}

.card {
  border: 1px solid white;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.fade-out {
  opacity: 0;
}
