@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Sixtyfour", sans-serif;
  word-spacing: -8px;
  color: white;
  background-color: black;
}
